---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
This site was built with Astro.js.
`;
---

<Layout title="Peter Son's Portfoilo | Front End Developer in Auckland, NZ">
    <h1 class="mb-10">Front-end Web Developer & Mobile App Lover</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
</Layout>
